{
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=(LocalDb)\\MSSqlLocalDB; Initial Catalog=Serene_Default_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        },
        {
            "Key": "MovieTutorial",
            "ConnectionString": "Data Source=(LocalDb)\\MSSqlLocalDB; Initial Catalog=MovieTutorial_Default_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "mov.Movie",
                    "Identifier": "Movie",
                    "Module": "App",
                    "ConnectionKey": "MovieTutorial",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "mov.Genre",
                    "Identifier": "Genre",
                    "Module": "App",
                    "ConnectionKey": "MovieTutorial",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "mov.MovieGenres",
                    "Identifier": "MovieGenres",
                    "Module": "App",
                    "ConnectionKey": "MovieTutorial",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "mov.MovieCast",
                    "Identifier": "MovieCast",
                    "Module": "App",
                    "ConnectionKey": "MovieTutorial",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "mov.Person",
                    "Identifier": "Person",
                    "Module": "App",
                    "ConnectionKey": "MovieTutorial",
                    "PermissionKey": "Administration:General"
                }
            ]
        }
    ],
    "KDiff3Path": "e:\\Program Files\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\MovieTutorial\\MovieTutorial.Web\\MovieTutorial.Web.csproj",
    "RootNamespace": "MovieTutorial",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "GenerateSSImports": false,
    "GenerateTSTypings": true,
    "GenerateTSCode": true,
    "RowFieldsSurroundWithRegion": false,
    "GenerateRow": true,
    "GenerateColumn": true,
    "GenerateForm": true,
    "GenerateEndpoint": true,
    "GenerateRepository": true,
    "GeneratePage": false,
    "GenerateGrid": false,
    "GenerateDialog": false,
    "GenerateGridEditor": false,
    "GenerateGridEditorDialog": false,
    "GenerateLookupEditor": false,
    "MaximizableDialog": false
}