@import "site.theme.less";
@import "site.mixins.less";
@import "site.administration.less";
@import "site.membership.less";

.s-App-MovieDialog {
    > .size { width: 650px; height: 500px;}
    .caption { width: 150px; }
}


.s-App-grid-alignRight {
    text-align: right;
}

.s-App-GenreDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-App-PersonDialog {
    > .size { width: 700px; height: 600px; }
    .caption { width: 150px; }
    .s-PersonMovieGrid > .grid-container { height: 500px; }
}

.s-App-MovieCastEditDialog {
    > .size { width: 450px; }
    .caption { width: 120px; }
    .s-PropertyGrid .categories { height: 120px; }
}
