
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.App.Movie.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new MovieTutorial.App.MovieGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>